<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProTruckWarehouse | Truck Accessories | Nerf Bars | Bull Bars</title>
  <meta charset="utf-8">
  <meta name="description" content="Protruckwarehouse.com offer a wide varities of truck accessories products. From Nerf bars, side steps, to bull bars. Looking for aluminum or stainless steel nerf bars? We have that too!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-12">
  
    <div class="container">
      <ul class="navbar-logo">
        <li><a href="/"><img class="img-responsive mt20" src="http://teautoparts.com/photo/protruckwarehouse/logo_protruck.png"></a></li>
     </ul>   
    </div>  
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    </div>
    
    <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse col-md-12" id="bs-example-navbar-collapse-1">
      <ul id="main-nav" class="nav navbar-nav">
        <% @categories.each do |category| %>
        <li><%= link_to "#{category.category_name}",product_path(category) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>






<%= yield %>

<footer>
  
  <div class="row">

    <div class="col-xs-12">
      <h1>Have Questions? Or Pricing Inquires? Please contact us at:</h1>
      <h3 class="contact_info"><i class="fa fa-phone-square f-icon" aria-hidden="true"></i><a href="tel:1877-61808860">877-618-8860</a></h2>
      <h3 class="contact_info"><i class="fa fa-envelope f-icon" aria-hidden="true"></i>Info@protruckwarehouse.com</h2>
      <p id="copy_right">Copyright &copy;Pro-Truck Accessories All Right reserved.</p>
    </div>
<!--     <div id="map" class="col-xs-4 left">
      <h1>Contact info</h1>
    </div>
    <div id="social-media" class="col-xs-4 left">
      <h1>Contact info</h1>
    </div>     -->

  
  </div>
</footer>

</body>
</html>
